body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.box {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.mint {
    background-color: #98ff98;
}

.blue {
    background-color: #87CEEB;
}

.grey {
    background-color: #D3D3D3;
}

.purple {
    background-color: #D8BFD8;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text], select {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

button {
    background-color: #800000;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

.completed {
    text-decoration: line-through;
}
